<footer class="page-footer text-center font-small mt-4 wow fadeIn">


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        {% if obj.facebookLink %}
            <a href="{{ obj.facebookLink }}" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>
        {% endif %}
        {% if obj.twitterLink %}
            <a href="{{ obj.twitterLink }}" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>
        {% endif %}
        {% if obj.youtubeLink %}
            <a href="{{ obj.youtubeLink }}" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>
        {% endif %}
        {% if obj.googleMapUrl %}
            <a href="{{ obj.googleMapUrl }}" target="_blank">
                <i class="fas fa-map-marker-alt"></i>
            </a>
        {% endif %}
    </div>
    <div class="pb-4">
        <p>Contact us on {% if obj.contactNumber %}Tel:
            <a href="tel:{{ obj.contactNumber }}" class="phone">{{ obj.contactNumber }}</a>{% endif %}
            {% if obj.contactNumber and obj.contactEmail %} or {% endif %}
            {% if obj.contactEmail %}Email:
                <a href="mailto:{{ obj.contactEmail }}" class="email">{{ obj.contactEmail }}</a>{% endif %}
        </p>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2020 Copyright:
        Han.Li - <a href="mailto:Yhanl@hotmail.com" class="email">Yhanl@hotmail.com</a>
    </div>
    <!--/.Copyright-->

</footer>