{% extends "base.html" %}

{% block content %}
    <section>
        <div class="container">

            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-left">
                {%  for image in gallary %}
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="{{ image.picture.url }}" alt="">
                        </a>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>
{% endblock content %}