{% extends "base.html" %}

{% block content %}
    <section style="padding-top: 10%">
        <div class="container">
            {% if menu %}
                {%  for  menu_obj in menu %}
                    <hr class="mt-2 mb-5">
                    <div class="row text-center text-lg-left">
                        <img src="{{ menu_obj.picture.url }}" class="img-fluid">
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}