<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand img-fluid" href="#">
            <img src="{{ obj.logoImg.url }}" max-width="10%" height="auto" alt="">
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if navbar == 'home' %}active bg-info{% endif %} ">
                    <a class="nav-link waves-effect {% if navbar == 'home' %}waves-teal{% endif %} " href="/">Home</a>
                </li>
                <li class="nav-item {% if navbar == 'menu' %}active bg-info{% endif %}">
                    <a class="nav-link {% if navbar == 'menu' %}waves-teal{% endif %} waves-effect" href="/menu">Menu</a>
                </li>

                <li class="nav-item {% if navbar == 'gallary' %}active bg-info{% endif %}">
                    <a class="nav-link {% if navbar == 'gallary' %}waves-teal{% endif %} waves-effect" href="/gallary">Food Gallary</a>
                </li>
            </ul>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if obj.facebookLink %}
                    <li class="nav-item">
                        <a href="{{ obj.facebookLink }}" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                {% endif %}
                {% if obj.twitterLink %}
                    <li class="nav-item">
                        <a href="{{ obj.twitterLink }}" class="nav-link waves-effect" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>

    </div>
</nav>